<ion-header>
    <ion-navbar>
        <ion-title>
            Tutorial
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-slides>
        <ion-slide *ngFor="let etapa of tutorial.etapas; let i = index">
            <h4>Passo {{ i + 1 }}: {{ etapa.subtitulo }}</h4>
            <img width="100" height="100" [src]="etapa.imgUrl">
            <p>{{ etapa.descricao }}</p>
            <button ion-button round icon-only (click)="previous()"
                *ngIf="!tutorialBeginning()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
            <button ion-button round icon-only (click)="next()"
                *ngIf="!tutorialEnd()">
                <ion-icon name="arrow-round-forward"></ion-icon>
            </button>
            <button ion-button round navPop *ngIf="tutorialEnd()">FIM</button>
        </ion-slide>
    </ion-slides>
</ion-content>